


.container-1{
  background-color: #7fff00;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  flex-wrap: wrap;
  shape-margin: 10pc;
  margin-bottom: 10vh;
}
 .container{
   height:100px ;
   width: 100px;
   float: right;
    
 }

.aboutme img{
 height:150px ;
 width: 200px;
 border-radius: 500%;
  
}
 h1,h2,h3,h4,h5,h6 {
 margin-top: 0;
 margin-bottom: 0.5rem;
 font-weight: 500;
 line-height:1.2 ;
 color: brown;
 font-weight: bold;
}
.container-2{
 background-color: rgb(89, 189, 7);
 padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  flex-wrap: wrap;
  shape-margin: 10pc;
  margin-bottom: 10vh;
}

.aboutme{
  margin-top:100px ;
  font-size: medium;
  font-weight: 700;
  height: 150px;
  width: 200px;
}
h2{
  margin-top: 100px;
  text-decoration-color: coral;
}
/* h5{
  text-decoration-style: solid;
  text-align:center;
  padding-bottom:2rem;
  display: flex;
  flex: center;
} */