 .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
        justify-content: space-between;

    background-color: chartreuse;
      display: inline;
        display: block;
       align-self: baseline;
     }
     .section-1{
       display:flex;
       text-align: center;
       padding-right: 5vh;
       border-bottom-left-radius: inherit;
       background-origin: padding-box;
       page-break-inside: auto; 
     }
     
     .paragraph{
     image-orientation: flip;
     text-align: start;
     padding-top: 15rem;
     padding-right:5rem;
     flex-direction: column-reverse; 
     image-resolution:20px ;
     } 
     .topnavbar{
      display: flex;
      justify-content: space-between;
    }
     h2{
       color: crimson;
       font-weight: bolder;
     
     }
     .container-fluid{
      text-align: center;
      justify-content: space-between;
      color: cadetblue;
    }
    .h1,h2,h3,h4,h5,h6{
      text-align: center;
      box-decoration-break: inherit;
    }
     .paragraph{
      direction: inherit;
     font-size: large;
     text-align: center;
     margin-bottom: 20px;
     align-items: center;
     } 
     
     .h1,h2,h3,h4,h5{
         text-align: center;
         box-decoration-break: inherit;

     }
     h3{
       color: crimson;
       border-top: 4rem;
       font-weight: bold;
     }
     
     h4{
       color:crimson;
      font-weight: bold;
     }
     
     h1{
    
       text-align: center;
       color: crimson;
     
     }
     
     h5{
         color: crimson;
     }

     .aboutme img {
       float:left;
       width: 100px;
       height: 100px;
      
     }
       
     .educationbackground{
       text-align: left;
        flex-wrap: wrap; 
        display: flex;
     }
     
     
  h1{
    font-size: x-large;
    color:crimson;
  }

h2{
  display: block;
  box-decoration-break: slice;
   font-variant-position: super;
   color: crimson;
}

  .accordion{
     /* text-decoration-color: cyan;  */


  }

  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    } 
   